body {
    background-color: #0000ff; /* 파란색 배경 */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden; /* 스크롤 고정 */
    margin: 0;
    font-family: 'Arial', sans-serif;
}

#main-container {
    width: 100%; /* 전체 너비 */
    height: 100%; /* 전체 높이 */
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    justify-content: center; /* 가운데 정렬 */
}

#description {
    color: #00ff00; /* 초록색 글씨 */
    font-size: calc(100vh / 32); /* 글씨 크기를 반으로 줄임 */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around; /* 균등 배분 */
    overflow: hidden; /* 스크롤 고정 */
}

.left, .right {
    white-space: nowrap;
    width: 100%;
    text-align: left;
}

.left {
    animation: moveLeft 30s linear infinite; /* 애니메이션 속도 변경 */
}

.right {
    animation: moveRight 30s linear infinite; /* 애니메이션 속도 변경 */
}

@keyframes moveLeft {
    from { transform: translateX(100%); }
    to { transform: translateX(-100%); }
}

@keyframes moveRight {
    from { transform: translateX(-100%); }
    to { transform: translateX(100%); }
}

#video-container {
    position: relative;
    width: 640px; /* 고정된 크기 설정 */
    height: 360px; /* 고정된 크기 설정 */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    margin-top: 50vh; /* 가운데로 정렬 */
    transform: translateY(-50%); /* 가운데로 정렬 */
}

#video {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

#canvas {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

#magnolia-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* 이미지가 비율을 유지하며 꽉 차도록 설정 */
    z-index: 2;
    display: none; /* 초기에는 숨김 */
}

#emotion-results {
    position: absolute;
    top: 50%;
    left: -150px; /* 왼쪽 중앙에 정렬 */
    transform: translateY(-50%);
    color: #ff0000; /* 가시성 있는 색상으로 변경 */
    text-align: left;
    z-index: 3; /* 이미지보다 위에 표시 */
}

#emotion-results p {
    margin: 5px 0;
}

#label {
    position: relative;
    width: 100%;
    text-align: center;
    margin-top: 20px; /* 캔버스 아래에 여유 공간 추가 */
    color: #ff0000; /* 레이블 텍스트 색상 */
    font-size: 1.5em; /* 레이블 텍스트 크기 */
    z-index: 3; /* 이미지보다 위에 표시 */
}
